<!DOCTYPE html>
<html>
<head>
	<title> Profile </title>
</head>  
<body>
  <div class="profile_container">
        <% flag = false %>
        <div class="profile_container_image">
          <img src="<%= current_user.avatar %>">
        </div>
        <div class="profile_container_content">
          <% if @person %>
            <% flag = true %>
            <fieldset>
              <legend> Personal Details </legend>
              <div> <span class="name"> Name: </span> <span class="content"> <%= @person.name %> </span> </div>
              <div> <span class="name"> Username: </span> <span class="content"> <%= @person.username %> </span> </div>
              <div> <span class="name"> Email: </span> <span class="content"> <%= @person.email %> </span> </div>
              <div> <span class="name"> Gender: </span> <span class="content"> <%= @person.gender %> </span> </div>
              <div> <span class="name"> DOB: </span> <span class="content"> <%= @person.dob %> </span> </div>
            </fieldset> <br>
          <% end %>
          <% if @contact %>
            <% flag = true %>
            <fieldset>
              <legend> Contact Details </legend>
              <div> <span class="name"> Phone: </span> <span class="content"> <%= @contact.phone %> </span> </div>
              <div> <span class="name"> Address: </span> <span class="content"> <%= @contact.address %> </span> </div>
              <div> <span class="name"> City: </span> <span class="content"> <%= @contact.city %> </span> </div>
              <div> <span class="name"> PIN: </span> <span class="content"> <%= @contact.pin %> </span> </div>
            </fieldset>
          <% end %>
        </div>
  </div>
  <br>
  <div class="profile_links">
    <% if flag == true %>
      <a href="/profile/edit" id="edit_profile"> Edit </a>
    <% else %>
      <a href="/profile/create" id="create_profile"> Create Profile </a>
    <% end %>
  </div>

</body>
</html>