<!DOCTYPE html>
<html>
<head>
	<title> Insta Split </title>
</head>
<body>

	<div class="instasplit">
		<h1> InstaSplit </h3>
		<span> Instantly Split Money Among your Friends! </span>

		<p> This feature let's you devide money among a group of people on the go. You don't need to have a split-trip account for the same. All you have to do is Tell us the total number of people involved, and how much amount, and who all have paid. Split-Trip will give you the net amount each individual has to pay now, to equalise the payements among all memebers of the group. Don't worry, we'll be ready with the results within seconds!
		</p>
	</div>
		
	<div class="instaeval">

		<% if @status == 1 %>
			<% value = @count %>
		<% else %>
			<% value = 0 %>
		<% end %>

		<%= form_tag '/split' do %>
			<span> Enter the total Number of People Involved </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :count, value %>
			<%= submit_tag :Go, id: :count_button %>
		<% end %>

		<br><br><br>


		<% if @status == 1 or @status == 2 %>
			<% i = 0 %>
			<div class="instaeval_form">
				<%= form_tag '/split' do %>
					<%= hidden_field_tag :number, @count %>
					<% @count.times do %>
						<% name = i.to_s + '_name' %>
						<% amount = i.to_s + '_amount' %>
						<div> 
							<div> <span> Name: </span> <span> <%= text_field_tag name, nil, required: :true %> </span> </div>
							<div> <span> Amount Paid: </span> <span> <%= number_field_tag amount, 0, class: :amount %> </span> </div>	
						</div>
						<% i = i+1 %>
					<% end %>
					<%= submit_tag :Evaluate, id: :eval %>
				<% end %>
			</div>
		<% end %>
		<div class="result">
			<% if @status == 2 %>
				<h2> Summary </h2> <br>
				<% @result.each do |i| %>
					<%= i[0] + ' owes Rs. ' + i[2].to_s + '/- to ' + i[1] %> <br> 
				<% end %>
			<% end %>
		</div>
	</div>
</body>
</html>