<div class="loginOuter">
  <div class="loginContainer">
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="outerField">
        <img src="/images/user.png" style="height: 20px; width: 20px;">
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>
      </div>

      <div class="outerField">
        <img src="/images/password.png" style="height: 20px; width: 20px;">
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>
