<% if member.class.column_names.include? 'name' %>
	<% name_email = member.name %>
	<% id = member.user_id %>
<% else %>
	<% name_email = member.email %>
	<% id = member.id %>
<% end %>
<% transaction = getStatus @group.id, current_user.id, id %>
<% if current_user.id != id %>
	<tr class="transaction_table_row">
		<td> <%= i %> </td>
		<td> <span> <%= name_email %> </span> </td>			
		<%= hidden_field_tag :group_id, @group.id %> 
		<% debit_field = 'debit' + '_' + id.to_s %> 
		<td> <%= number_field_tag debit_field, transaction['debit_amount'] %> </td>
		<% credit_field = 'credit' + "_" + id.to_s %> 
		<td> <%= number_field_tag credit_field, transaction['credit_amount'] %> </td>
		<td> Status </td>
	</tr>
<% end %>