<!DOCTYPE html>
<html>
<head>
	<title> <%= @group.name %> </title>
</head>
<body>
	<div class="chat">
		<div class="participants_container">
			<div class="group_name">
				<span> <%= @group.name %> </span>
			</div>
			<div class="participants_container_head"> <span> Participants </span> <span id="members_count"> <%= @group.no_of_members %> </span> 
			</div>
			<div class="members_list"> 
				<% if @members %>
					<% @members.each do |member| %>
						<%= render 'members2', member: member %>
					<% end %>
				<% end %>
			</div>
			<% if position(@group.id, current_user.id) == 'admin' %>
				<% form_id = 'group_id_' + @group.id.to_s %>
				<%= form_tag '/groups/participant/add/remote', class: 'add_participant', id: form_id, remote: true, authenticity_token: true  do %>
					<%= hidden_field_tag :group_id, @group.id %>
					<div class="submit_container">
						<%= text_field_tag :username, nil, placeholder: 'Add Participant' %>
						<%= image_submit_tag("/images/add.ico", class: :add_participant_submit) %>	
					</div>
				<% end %>
			<% end %>
			<p id="result">
				
			</p>
		</div>
		<div class="chat_box">
			<div class="chat_window">
				<% @messages.each do |message| %>
					<%= render 'message', :message => message, :user => message.user %>
				<% end %>		
			</div>
			<br>
			<%= form_tag '/messages/new', remote: true, authenticity_token: true, id: :message_form do %>
				<%= text_field_tag :message, nil, :placeholder => 'Enter Your Message' %>
				<%= image_submit_tag("/images/send_button.ico", class: :send_message) %>
			<% end %>
		</div>
	</div>
	<br>
	<div class="transaction">
		<span> Transactions <span>
		<%= form_tag '/transactions' do %>
			<table class="transaction_table">
				<tr class="transaction_table_head">
					<th> S No. </th>
					<th> Member </th>
					<th> Debit Amount </th>
					<th> Credit Amount </th>
					<th> Status </th>
				</tr>
				<% i = 0 %>
				<% @members.each do |member| %>
					<%= render 'members1', { member: member, i: i } %>
					<% i += 1 %>
				<% end %>
			</table>	
			<%= submit_tag :Submit %>
		<% end %>
	</div>
</body>
</html>