<!DOCTYPE html>
<html>
<head>
  <title>Splittrip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://localhost:9292/faye.js"></script>
</head>
<body>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="header">
  <img src="/images/splittrip.jpg">
  <% if user_signed_in? %>
    <div class="header_user">
      <% if current_user.person %>
        <span> <%= current_user.person.name %> </span>
      <% else %>
        <span> <%= current_user.email %> </span>
      <% end %>
      <img src="<%= current_user.avatar %>">
    </div>
  <% else %>
    <div class="header_user">
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', id: 'signup' %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link', id: 'login' %>
    </div>
  <% end %>
</div>
<div class="container">
  <% if user_signed_in? %>
    <div class="nav">
      <ul class="navigation">
        <li> <a class="active" href="/"> Home </a> </li>
        <li> <a href="/split"> InstaSplit </a> </li>
        <li> <a href="/groups"> Groups </a> </li>
        <li> <a href="/profile"> Profile </a> </li>
        <li> <a href="<%= edit_user_registration_path %>"> Change Password </a> </li>
        <li> <a href="<%= destroy_user_session_path %>" data-method='delete'> Logout </a> </li>
        <li> <a href="/about"> About </a> </li>
      </ul>
    </div>
  <% else %>
    <div class="nav">
      <ul class="navigation">
        <li> <a class="active" href="/"> Home </a> </li>
        <li> <a href="/split"> InstaSplit </a> </li>
        <li> <a href="/about"> About </a> </li>
      </ul>
    </div>
  <% end %>

  <div class="main">
    <%= yield %>
  </div>
</div>
  
</body>
</html>
