<!DOCTYPE html>
<html>
<head>
  <title>Splittrip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0">
  <script src="http://localhost:9292/faye.js"></script>
</head>
<body>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="header">
  <img src="/images/splittrip.jpg">
  <% if user_signed_in? %>
    <div class="header_user">
      <% if current_user.person %>
        <span> <%= current_user.person.name %> </span>
      <% else %>
        <span> <%= current_user.email %> </span>
      <% end %>
      <img src="<%= current_user.avatar %>">
    </div>
  <% else %>
    <div class="header_user">
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', id: 'signup' %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link', id: 'login' %>
    </div>
  <% end %>
</div>
<div class="container">
  <% if user_signed_in? %>
    <div class="nav">
      <ul class="navigation">
        <li> <a href="/about"> About </a> </li>
        <li> <a href="/split"> InstaSplit </a> </li>
        <li> <a href="/groups"> Groups </a> </li>
        <li> <a href="/passbook"> Passbook </a> </li>
        <li> <a href="/profile"> Profile </a> </li>
        <li> <a href="<%= edit_user_registration_path %>"> Change Password </a> </li>
        <li> <a href="<%= destroy_user_session_path %>" data-method='delete'> Logout </a> </li>
      </ul>
    </div>
  <% else %>
    <div class="nav">
      <ul class="navigation">
        <li> <a href="/about"> About </a> </li>
        <li> <a href="/split"> InstaSplit </a> </li>
      </ul>
    </div>
  <% end %>

  <div class="main">
    <%= yield %>
  </div>
</div>

<div class="footer">
  <div class="footer_upper">
    <div class="footer_contact">
        <span style="font-size: 16px;"> CONTACT </span> 
        <div>   
            <p><img src="/images/location.png" class="fa-fw w3-xlarge w3-margin-right"> Home : 3-E, Kamla Nagar, Delhi - 110007 </p>
            <p><img src="/images/phone.png" class="fa-fw w3-xlarge w3-margin-right"> Phone : 9711301266 </p> 
            <p><img src="/images/mail.png" class="fa-fw w3-xlarge w3-margin-right"> Email :  shubham.aggarwal.1996@gmail.com </p>
          </div>
      </div>  
    <div class="footer_map">
      <img src="/images/map_kamla_nagar.png">
    </div>
  </div>
  <hr>
  <div class="footer_lower">
    <span style="font-size: 12px;"> Copyright © by SplitTrip. All Rights Reserved</span>
  </div>
</div>
</body>
</html>
